/**
* Project Name		: Church
* Date				: 26-February-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/

@import 'normalize.css';
body {
	color: #343836;
	font-family: "museo-slab", serif;
	font-size: 14px;
}
h1, h2, h3 {
	font-family: "museo-sans-rounded",sans-serif;
}
h1 {
	color: #fff;
	font-size: 2.5em;
	margin: 0;
	padding: 0 0 10px 0;
}
h2 {
	color: #789f90;
	font-size: 2em;
	margin: 0;
	text-align: cwnter;
	text-transform: uppercase;
	padding-top: 30px;
}
h3 {
	color: #789f90;
	font-size: 1.5em;
	margin: 0;
	padding-top: 30px;
}
p {
	font-size: 1.5em;
	line-height: 1.5;
	text-align: left;
}
img {
	width: 100%;
}
.container {
	padding: 0 15px;
}
.container:nth-child( 2 ),
.container:nth-child( 4 ),
.container:nth-child( 6 ),
.container:nth-child( 8 ) {
	padding: 0;
}
.container:nth-child( 8 ) {
	background: #789f90;
}
.container:nth-child( 9 ) {
	padding: 0;
}
.footer {
	background: #343836;
	padding: 0 15px;
}
.logo {
	background: url(../images/logo.png) no-repeat;
	background-size: 46px 46px;
	display: block;
	float: left;
	text-decoration: none;
	text-indent: -9999px;
	margin: 10px 0 10px 15px;
	height: 46px;
	width: 46px;
}

nav {
	background: #fff;
	box-shadow: 1px 2px 4px #ccc;
	top: 0;
	position: fixed;
	width: 100%;
}
nav ul {
	background: #fff;
	display: none;
	margin: 0;top: 66px;
	position: absolute;
	padding: 0;
	list-style: none;
	width: 100%;
}
nav ul a {
	color: #789f90;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
}
nav ul a:hover {
	background: #789f90;
	color: #fff;
}
.menu {
	border-radius: 4px;
	background: #eee;
	cursor: pointer;
	top: 15px;
	position: absolute;
	padding: 10px;
	right: 15px;
	width: 20px;
}
.menu:hover {
	background: #789f90;
}
.menu span {
	
	background: #789f90;
	display: inline-block;
	margin-bottom: 3px;
	height: 3px;
	width: 18px;
}
.menu:hover span{
	background: #fff;
}
.menu span:last-child {
	margin-bottom: 0;
}
/*****************   Hero   ***********************/
.hero {
	background: url(../images/hero.jpg) no-repeat 0 0;
	background-size: cover;
	margin-top: 66px;
	padding: 40px 15px;
	text-align: center;
}
.hero span {
	color: #fff;
	font-size: 1.5em;
}
.more {
	background-color: #789f90;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 25px;
}
.col-left {
	text-align: center;
}
.col-left p {
	padding-bottom: 10px;
}
.col-right {
	padding-top: 30px;
	padding-bottom: 30px;
}
.worship {
	background: url(../images/worship.jpg) no-repeat;
	background-size: cover;
	padding: 45px 15px;
	text-align: center;
}
.worship h2 {
	color: #fff;
	text-align: center;
	font-size: 2.5em;
	padding: 0 0 10 0px;
}
.worship span {
	color: #fff;
	display: block;
	font-size: 1.5rem;
	line-height: 1.5em;
}
.gallery {
	text-align: center;
}
.gallery h2 {
	padding-bottom: 10px;
}
.gallery span {
	color: #343836;
	display: block;
	padding: 0 0 30px 0;
	font-size: 1.5em;
	line-height: 1.5em;
}
.gallery ul {
	margin: 0;
	list-style: none;
	padding-bottom: 10px;
	padding-left: 0;
}
.gallery ul li {
	display: block;
	padding-bottom: 30px;
}
.gallery ul li a {
	color: #789f90;
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	padding-top: 25px;
}
.gallery ul li a:hover {
	text-decoration: underline;
}
.mission {
	background: url(../images/metion-event.jpg) no-repeat;
	background-size: cover;
	padding: 45px 15px;
	text-align: center;
	margin-top: 40px;
}
.mission h2 {
	color: #fff;
	font-size: 2.5em;
	line-height: 1.5em;
	padding: 0 0 10px 0;
}
.mission span {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5em;
}
.courses {
	text-align: center;
}
.courses h2 {
	padding-bottom: 10px;
}
.courses span {
	color: #343836;
	display: block;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-bottom: 30px;
}
}
.course p {
	color: #343836;
	margin: 0;
	padding-top: 10px;
}
.latest-posts {
	padding-left: 15px;
	padding-right: 15px;
}
.latest-posts h2 {
	color: #ffffff;
	padding-bottom: 20px;
}
.latest-posts span {
	color: #fff;
	display: block;
	padding-top: 7px;
	font-size: 1rem;
	line-height: 1.5em;
} 
.latest-posts h3 a {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	padding: 0;
}
.latest-posts p {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 30px;
}
.address {
	padding-top: 20px;
}
.address p,
.address a {
	color: #789f90;
	font-size: 1.5em;
	font-family: "museo-sans-rounded",sans-serif;
	margin: 0;
	padding-top: 5px;
	text-align: center;
}
.address a {
	font-size: 1em;
	word-break: break-all;
}
.social-media {
	padding: 40px 0;
}
.social-media ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.social-media ul li {
	display: inline-block;
	margin-right: 10px;
}
.social-media ul li a {
	display: block;
	height: 52px;
	text-indent: -9999px;
	width: 52px;
}
.social-media ul li.facebook a {
	background: url(../images/facebook.jpg) no-repeat 0 0;
}
.social-media ul li.twitter a {
	background: url(../images/twt.jpg) no-repeat 0 0;
}
.social-media ul li.instagram a {
	background: url(../images/instagram.jpg) no-repeat 0 0;
}

/** Interio.html page */

.pray {
	background: url(../images/pray.jpg) no-repeat 0 0;
	background-size: cover;
	margin-top: 66px;
	padding: 40px 15px;
	text-align: center;
}
.pray h1 {
	text-transform: uppercase;
}
.pray span {
	font-size:1.5em;
	color: #fff;
	display: block;
}
form {
	margin-bottom: 0;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1.3em;
}
label {
	display: block;
	color: #789f90;
	padding-top: 20px;
	padding-bottom: 15px;
}
input,
textarea {
	width: 100%;
	background: #ccc;
	border: transparent;
	border-radius: 3px;
	padding: 10px 15px;
}
 button {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.address {
	padding-top: 35px;
}
.address p{
	padding-top: 0;
}

/** Clear Fix */
.clearfix:after {
	clear: both;
	content: " "; /* Older browser do not support empty content */
	display: block;
	height: 0;
	visibility: hidden;
}

@media ( min-width: 768px ) {
	h2{
		padding-top: 90px;
	}
	.hero {
		padding: 150px 15px;
	}
	.worship {
		padding: 150px 15px;
		margin-top: 90px;
	}
	.mission {
		padding: 150px 15px;
		margin-top: 90px;
	}
	.col-left {
		float: left;
		padding-right: 5%;
		text-align: left;
		width: 45%;
	}
	.col-right {
		float: right;
		padding-top: 30px;
		width: 50%;	
	}
	.course h3 {
		text-align: left;
	}
	.latest-posts p {
		padding-bottom: 90px;
	}
	.course {
		float: left;
		padding-right: 3%;
		padding-top: 30px;
		width: 30%;
	}
	.course p {
		margin-bottom: 0px;
		padding-bottom: 90px;
	}
	.course:first-child {
		padding-left: 2%;
	}
	.course:last-child {
		padding-right: 0;
	}
	.gallery ul li {
		float: left;
		width: 50%;
	}
	.gallery span {
		padding-bottom: 50px;
	}
	.gallery ul li:nth-child( 3 ) {
		clear: both;
	}
	.gallery-wrapper ul li img {
		width: 90%;
	}
	.post {
		float: left;
		padding-left: 1.4%;
		width: 48%;
	}
	.post img {
		height: 273px;
	}
	.address {
		padding-top: 90px;
	}
	.address p {
		padding-top: 0px;
	}
	.social-media {
		padding-top: 40px;
		padding-bottom: 90px;
	}
	
	/** Interio.html page */
	button {
		margin-bottom: 90px;
	}
}

@media ( min-width: 992px ) {
	nav {
		position: fixed;
		background:#fff;
		min-height: 45px;
	}
	.menu{
		display: none;
	}
	nav ul {
		display: block;
		float: right;
		list-style: none;
		position: static;
		padding-right: 15px;
		top: 53px;
		text-align: center;
		width: 100%;
		width: auto;
	}
	ul li {
		display: inline-block;
	}
	nav ul li a {
		font-size: 1.5em;
		padding: 28px 15px;
	}
	.logo {
		background-size: 60px 60px;
		height: 60px;
		width: 60px;
	}
	.hero {
		background-size: cover;
		display: block;
		padding-bottom: 350px;
	}
	.hero h1 { 
		font-size: 5em;
		padding-top: 135px;
	}
	.hero span {
		font-size: 2.5em;
	}
	.worship {
		padding-bottom: 160px;
	}
	.worship h2 {
		font-size: 4em;
	}
	.worship span {
		font-size: 2.5em;
	}
	.gallery ul li {
		float: left;
		width: 33%;
	}
	.gallery h2 {
		font-size: 3em;
		padding-top: 90px;
	}
	.gallery ul li:nth-child( 3 ) {
		clear: none;
	}
	.gallery ul li:nth-child( 4 ) {
		clear: both;
	}
	.mission h2 {
		font-size: 4em;
	}
	.latest-posts h2{
		font-size: 5em;
		text-align: center;
		padding-bottom: 50px;
	}
	.post { 
		float: left;
		padding-left: 1.6%;
		width: 23%;
	}
	.courses h2 {
		font-size: 4em;
	}
	.address {
		float: left;
	}
	.social-media {
		float: right;
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

	/** Interio.html page */
	
	.pray{
		padding-top: 150px;
		padding-bottom: 150px;
	}
	form {
		width: 474px;
		margin: auto;
	}
@media ( min-width: 1200px ) {
	.container:nth-child( 3 ),
	.container:nth-child( 5 ),
	.container:nth-child( 7 ),
	nav .container {
		margin: auto;
		width: 1170px;
	}
	.latest-posts {
		margin: auto;
		width: 1170px;
	}
}