/**
* Project Name		: Church
* Date				: 26-February-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/

@import 'normalize.css';
body {
	font-family: "museo-slab", serif;
	font-size: 14px;
	color: #343836;
}
h1, h2, h3 {
	font-family: "museo-sans-rounded",sans-serif;
}
h1 {
	font-size: 2.5em;
	color: #fff;
	margin: 0;
	padding: 0 0 10px 0;
}
h2 {
	font-size: 2em;
	text-align: cwnter;
	margin: 0;
	padding-top: 30px;
	color: #789f90;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
	color: #789f90;
	padding-top: 30px;
	margin: 0;
}
p {
	font-size: 1.5em;
	line-height: 1.5;
	text-align: left;
}
img {
	width: 100%;
}
.container {
	padding: 0 15px;
}
.container:nth-child( 2 ),
.container:nth-child( 4 ),
.container:nth-child( 6 ),
.container:nth-child( 8 ) {
	padding: 0;
}
.container:nth-child( 8 ) {
	background: #789f90;
}
.container:nth-child(9) {
	padding: 0 15px;
	background: #343836;
}
.logo {
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
	background-size: 46px 46px;
	width: 46px;
	height: 46px;
	float: left;
	margin: 10px 0 10px 15px;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	box-shadow: 1px 2px 4px #ccc;
}
nav ul {
	list-style: none;
	position: absolute;
	margin: 0;
	top: 66px;
	background: #fff;
	padding: 0;
	width: 100%;
	display: none;
}
nav ul a {
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	color: #789f90;
}
nav ul a:hover {
	background: #789f90;
	color: #fff;
}
.menu {
	border-radius: 4px;
	position: absolute;
	width: 20px;
	right: 15px;
	top: 15px;
	padding: 10px;
	cursor: pointer;
	background: #eee;
}
.menu:hover {
	background: #789f90;
}
.menu span {
	width: 18px;
	height: 3px;
	background: #789f90;
	display: inline-block;
	margin-bottom: 3px;
}
.menu:hover span{
	background: #fff;
}
.menu span:last-child {
	margin-bottom: 0;
}
/*****************   Hero   ***********************/
.hero {
	background: url(../images/hero.jpg) no-repeat 0 0;
	background-size: cover;
	margin-top: 66px;
	padding: 40px 15px;
	text-align: center;
}
.hero span {
	color: #fff;
	font-size: 1.5em;
}
.more {
	display: inline-block;
	padding: 15px 25px;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	background-color: #789f90;
	text-decoration: none;
	border-radius: 5px;
}
.col-left {
	text-align: center;
}
.col-left p {
	padding-bottom: 10px;
}
.col-right {
	padding-top: 30px;
	padding-bottom: 30px;
}
.worship {
	background: url(../images/worship.jpg) no-repeat;
	background-size: cover;
	padding: 45px 15px;
	text-align: center;
}
.worship h2 {
	text-align: center;
	color: #fff;
	font-size: 2.5em;
	padding: 0 0 10 0px;
}
.worship span {
	color: #fff;
	display: block;
	font-size: 1.5rem;
	line-height: 1.5em;
}
.gallery {
	text-align: center;
}
.gallery h2 {
	padding-bottom: 10px;
}
.gallery span {
	color: #343836;
	display: block;
	padding: 0 0 30px 0;
	font-size: 1.5em;
	line-height: 1.5em;
}
.gallery ul {
	margin: 0;
	list-style: none;
	padding-bottom: 10px;
	padding-left: 0;
}
.gallery ul li {
	display: block;
	padding-bottom: 30px;
}
.gallery ul li a {
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: #789f90;
	padding-top: 25px;
}
.gallery ul li a:hover {
	text-decoration: underline;
}
.mission {
	background: url(../images/metion-event.jpg) no-repeat;
	background-size: cover;
	padding: 45px 15px;
	text-align: center;
	margin-top: 40px;
}
.mission h2 {
	font-size: 2.5em;
	line-height: 1.5em;
	color: #fff;
	padding: 0 0 10px 0;
}
.mission span {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5em;
}
.courses {
	text-align: center;
	padding-bottom: 30px;
}
.courses h2 {
	padding-bottom: 10px;
}
.courses span {
	color: #343836;
	font-size: 1.5em;
	line-height: 1.5em;
}
.course p {
	margin: 0;
	padding-top: 10px;
	color: #343836;
}
.latest-posts {
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.latest-posts h2 {
	padding-bottom: 20px;
	color: #ffffff;
}
.latest-posts span {
	display: block;
	color: #fff;
	padding-top: 7px;
	font-size: 1rem;
	line-height: 1.5em;
} 
.latest-posts h3 a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0;
}
.latest-posts p {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 30px;
}
.address {
	padding-top: 20px;
}
.address p,
.address a {
	margin: 0;
	color: #789f90;
	font-family: "museo-sans-rounded",sans-serif;
	padding-top: 5px;
	font-size: 1.5rem;
	text-align: center;
}
.address a {
	word-break: break-all;
}
.social-media {
	padding: 40px 0;
}
.social-media ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.social-media ul li {
	display: inline-block;
	margin-right: 10px;
}
.social-media ul li a {
	display: block;
	text-indent: -9999px;
	width: 52px;
	height: 52px;
}
.social-media ul li.facebook a {
	background: url(../images/facebook.jpg) no-repeat 0 0;
}
.social-media ul li.twitter a {
	background: url(../images/twt.jpg) no-repeat 0 0;
}
.social-media ul li.instagram a {
	background: url(../images/instagram.jpg) no-repeat 0 0;
}
/** Clear Fix */
.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

@media ( min-width: 768px ) {
	h2{
		padding-top: 35px;
	}
	.hero {
		padding: 150px 15px;
	}
	.worship {
		padding: 150px 15px;
	}
	.mission {
		padding: 150px 15px;
	}
	.col-left {
		width: 45%;
		float: left;
		padding-bottom: 30px;
		padding-right: 5%;
		text-align: left;
	}
	.col-right {
		width: 50%;
		float: right;
		padding-top: 30px;
	}
	.course h3 {
		text-align: left;
	}
	.course {
		padding-top: 30px;
		width: 30%;
		float: left;
		padding-right: 3%;
	}
	.course:first-child {
		padding-left: 2%;
	}
	.course:last-child {
		padding-right: 0;
	}
	.gallery ul li {
		float: left;
		width: 50%;
	}
	.gallery ul li:nth-child( 3 ) {
		clear: both;
	}
	.gallery-wrapper ul li img {
		width: 90%;
	}
	.post {
		width: 48%;
		float: left;
		padding-left: 1.4%;
	}
	.post img {
		height: 273px;
	}
	
}
@media ( min-width: 992px ) {
	nav {
	position: fixed;
	background:#fff;
	min-height: 45px;
}
	.menu{
		display: none;
	}
	nav ul {
		position: static;
		display: block;
		top: 53px;
		width: 100%;
		text-align: center;
		list-style: none;
		float: right;
		width: auto;
		padding-right: 15px;
	}
	ul li {
		display: inline-block;
	}
	nav ul li a {
		padding: 25px 10px;
	}
	.hero {
		display: block;
		margin: 0;
		padding-bottom: 350px;
		background-size: cover;
	}
	.hero h1 { 
		padding-top: 135px;
		font-size: 5em;
	}
	.hero span {
		font-size: 2.5em;
	}
	.worship {
		padding-bottom: 160px;
	}
	.worship h2 {
		font-size: 4em;
	}
	.worship span {
		font-size: 2.5em;
	}
	.col-left {
		padding-bottom: 125px;
	}
	.col-left p {
		padding-bottom: 80px;
	}
	.gallery ul li {
		float: left;
		width: 33%;
	}
	.gallery h2 {
		padding-top: 125px;
		font-size: 3em;
	}
	.gallery span {
		padding-bottom: 82px;
	}
	.gallery ul li:nth-child( 3 ) {
		clear: none;
	}
	.gallery ul li:nth-child( 4 ) {
		clear: both;
	}
	.mission {
		padding-top: 125px:
	}
	.latest-posts {
		padding-top: 125px;
	}
	.latest-posts h2{
		text-align: center;
		font-size: 5em;
		padding-bottom: 125px;
	}
	.post { 
		float: left;
		width: 23%;
		padding-left: 1.6%;
	}
	.courses {
		padding-bottom: 124px;
	}
	
}
@media ( min-width: 1200px ) {
	.container:nth-child( 3 ),
	.container:nth-child( 5 ),
	.container:nth-child( 7 ),
	nav .container {
		width: 1170px;
		margin: auto;
	}
	nav ul li a {
		padding: 25px 30px;
	}
	.latest-posts {
		width: 1170px;
		margin: auto;
	}
}